body {
	font-family: "Coda", sans-serif;
	background-color:#000000;
	color:#ccffcc;
}
main {
	padding: 60px;
}
.container {
  padding: 60px;
}
h1 h3 {
	text-align:center;
	font-variant:small-caps;
}
address {
	text-align: center;
}